body {
  padding: 0px;
  margin: 0px;
}

.body {
  width: 98%;
  height: 90%;
  margin: auto;
}

.tab-content {
  border: 3px black solid;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.tab-widgets-section {
  width: 100%;
  height: 95%;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2px;
}

.widget {
  height: 95%;
  border: 3px black solid;
  border-radius: 25px;
  flex: 1;
  flex-direction: row;
  margin: 20px;
  overflow: hidden;
}

.widget-title {
  height: 5%;
  text-align: center;
  margin: 20px;
  font-size: 30pt;
  font-weight: bold;
}

.comment-block {
  border: 3px black solid;
  width: 25%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 0px;
  margin: 0px;
}

.comment-title {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.comment-list {
  border: 2px black solid;
  width: 98%;
  height: 80%;
  text-align: left;
  overflow: auto;
  padding: 0px;
  margin: 0px;
}

.comment-list-loggedout {
  border: 2px black solid;
  width: 100%;
  height: 95%;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.comment {
  border: 1px #CCCCCC solid;
  width: 100%;
  font-size: 16pt;
  list-style-type: none;
  margin-bottom: 2px;
}

.comment-body {
  width: 99%;
  word-break: break-word;
  padding: 1px;
  margin: 0px;
}

.comment-input {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.comment-input-button {
  flex: 1;
}

.comment-input-text {
  font-size: 14pt;
  color: #464646;
  flex: 4;
  resize: none;
}

.tab {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.tab:hover {
  background-color: #555555;
  color: white;
}

.head {
  height: 10%;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 25% auto 25%;
}

.login {
  font-size: 14pt;
  grid-column-start: 3;
  margin: auto;
}

.head-title {
  font-size: 50pt;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
}

.news-wrapper {
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15) !important;
  padding: 16 !important;
}

.news-image {
  height: 96 !important;
  width: 96 !important;
}

.news-description {
  white-space: pre-line;
}

.news-group {
  height: 90%;
  padding: 8;
  overflow-y: scroll;
}

.hourlyWeather{
  text-align: center;
  text-transform: capitalize;
  padding: auto;
  margin: 8px;
  display: inline-block;
}

.weather_widget{
  text-align: center;
  overflow: scroll;
}

.weather_widget::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}