body {
  padding: 0px;
  margin: 0px;
}

  .body {
    width: 98%;
    border: 3px black solid;
    height: 85%;
    margin: auto;
  }
  
    .comment-block {
      border: 3px black solid;
      width: 25%;
    }
  
  .head {
    height: 15%;
    text-align: center;
  }
  