<!DOCTYPE html>

<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>THE JERSEY BULLETIN</title>
    
    <meta name="description" content="New Jersey Information">
    <meta name="NJIT CS490_FALL20_GROUP8" content="SitePoint">
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://kit.fontawesome.com/85b0c2bd74.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="landing-page">
        <div class="first-page">
            <header>
                <img src="../static/images/logo.png" alt="The Jersey Bulletin"  class="landing-page-logo"/>
                <button type="button" class="button"><a href="/">Home</a></button>
            </header>
            <div class="headings">
                <h1 class="main-heading">Important Garden State Information</h1>
                <h5 class="sub-heading">
                    Want all the information you need about New Jersey while simultaneously 
                    building a community with your fellow residents?  Well look no further
                    than The Jersey Bulletin!  Where you can get information relating to 
                    weather, news, and the ever-present annoyance that is Jersey Traffic.  
                    Log in to chat with others and add some tips for avoiding that pesky 
                    construction.  More information and categories to be added soon!
                </h5>
            </div>
        </div>
        <div class="second-page">
            <h1>Team Members</h1>
            <div class="team-intro">
                <div class="team-member">
                    <img src="../static/images/joseph_fiore.png" class="member-picture"/>
                    <h4>Joseph Fiore</h4>
                    <a href="https://github.com/98jfiore"><i class="fab fa-github-square"></i></a>
                    <p>
                        Hello, I'm Joseph Fiore.  I'm a current student at NJIT persuing a degree in Computer Science.
                        I enjoy the process of problem solving, which has lead me down the path to absolutely adoring
                        all aspects of the software development process.  I'm proud of the app me and my group are 
                        building and can't wait for you to check it out!
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Karan Patoliya</h4>
                    <a href="https://github.com/kpatoliya"><i class="fab fa-github-square"></i></a>
                    <p>
                        Hello, I'm Karan Patoliya. I'm very excited to present the website that me and my group has
                        been working on. Building the app and collaborating with the team has taught me many
                        technologies and I feel confident using these new tech.
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/ameer_hassan.png" class="member-picture"/>
                    <h4>Ameer Hassan</h4>
                    <a href="https://github.com/AmeerYHassan"><i class="fab fa-github-square"></i></a>
                    <p>
                        Hello! My name is Ameer Hassan and I am a part of the team that helped build
                        The Jersey Bulletin. Going through this project, I believe that my interests
                        have shifted toward the full stack development world. It's very rewarding to see
                        all of your hard work work together in the end!
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Bishoy Kamel</h4>
                    <a href="https://github.com/bk274"><i class="fab fa-github-square"></i></a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/member_5.jpeg" class="member-picture"/>
                    <h4>Akash Patel</h4>
                    <a href="https://github.com/akashpatel2699"><i class="fab fa-github-square"></i></a>
                    <p>
                        Hi, My name is Akash Patel. I am full stack developer at NJIT CS490 group project. I am happy 
                        that my work will help the people of New Jersey to get information needed to get up and running.
                    </p>
                </div>
            </div>
        </div>
        <div class="third-page">
            <h3>Frequently Asked Questions</h3>
            <div class="container">
                <div class="box box-1">
                    <h2>How did we make The Jersey Bulletin?</h2>
                    <p>
                        A list of the most notable technologies used in this web-app are included at the bottom of this page. 
                        
                        For the backend, the main programming language we used was Python. With Python, we utilized the Flask Micro-Framework 
                        to serve web pages. Along with this, we used socket.io to interface between the front-end and the back-end. Persistence 
                        was achieved using Postgresql and SQLAlchemy to provide an easy interface to interact with the database via Python. Comments
                        are stored in the database, as well as future user information and preferences. For the front-end, the main technology that 
                        we used was functional React.js, as well as some vanilla HTML, CSS, and Javascript. A number of different packages were
                        utilized with React as well, which can be found on the Github page. Collaboration was utilized using Git and Github. Final
                        deployment of this web app was done on Heroku.
                    </p>
                </div>
                
                <div class="box box-2">
                    <h2>Why did we create The Jersey Bulletin?</h2>
                    <p>
                        Our goal for the users of The Jersey Bulletin is to streamline the information that they may need as a resident of
                        The Garden State. A lot of the information that people use in their day to day lives are scattered over a number
                        of different websites, and a lot of the governmental websites make it very hard to find the information that you
                        are looking for. With The Jersey Bulletin, we hope that users will be able to find all the information they are looking
                        for easily and efficiently.
                    </p>

                </div>
                <div class="box box-3">
                    <h2>Why does The Jersey Bulletin matter?</h2>
                    <p>
                        In general, people have to hunt for the information they need to start their day. A lot
                        of the information they may need can also be hard to acquire. With The Jersey Bulletin,
                        we have strived to make this process as easy and seamless as possible, serving you all
                        of the information you may need quickly and efficiently.
                    </p>
                </div>
                
                <div class="box box-4">
                    <h2>How can a user use The Jersey Bulletin?</h2>
                    <p>
                        The Jersey Bulletin works right off the bat! You are served relevant information once you
                        load up the site. Most of the features offered are available to everyone once they log in.
                        That being said, in order to take part of the discussion box available on each page, you
                        must log in with your Google or Facebook account. Without logging in, you still have access
                        to the weather, traffic, and news.
                    </p>
                </div>
            </div>
        </div>
        <div class="fourth-page">
            <div class="technologies">
                <h3>Technologies</h3>
                <ul class="technologies-list">
                    <li><a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Python Flask</a></li>
                    <li><a href="https://reactjs.org/" target="_blank">React.js</a></li>
                    <li><a href="https://www.postgresql.org/" target="_blank">Postgresql</a></li>
                    <li><a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
                    <li><a href="https://git-scm.com/" target="_blank">Git</a></li>
                    <li><a href="https://circleci.com/" target="_blank">Circle CI</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>