<!DOCTYPE html>

<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>THE JERSEY BULLETIN</title>
    
    <meta name="description" content="New Jersey Information">
    <meta name="NJIT CS490_FALL20_GROUP8" content="SitePoint">
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://kit.fontawesome.com/85b0c2bd74.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="landing-page">
        <div class="first-page">
            <header>
                <img src="../static/images/logo.png" alt="The Jersey Bulletin"  class="landing-page-logo"/>
                <button type="button" class="button"><a href="/">Home</a></button>
            </header>
            <div class="headings">
                <h1 class="main-heading">Important Garden State Information</h1>
                <h5 class="sub-heading">
                    Want all the information you need about New Jersey while simultaneously 
                    building a community with your fellow residents?  Well look no further
                    than The Jersey Bulletin!  Where you can get information relating to 
                    weather, news, and the ever-present annoyance that is Jersey Traffic.  
                    Log in to chat with others and add some tips for avoiding that pesky 
                    construction.  More information and categories to be added soon!
                </h5>
            </div>
        </div>
        <div class="second-page">
            <h1>Team Members</h1>
            <div class="team-intro">
                <div class="team-member">
                    <img src="../static/images/joseph_fiore.png" class="member-picture"/>
                    <h4>Joseph Fiore</h4>
                    <a href="https://github.com/98jfiore"><i class="fab fa-github-square"></i></a>
                    <p>
                        Hello, I'm Joseph Fiore.  I'm a current student at NJIT persuing a degree in Computer Science.
                        I enjoy the process of problem solving, which has lead me down the path to absolutely adoring
                        all aspects of the software development process.  I'm proud of the app me and my group are 
                        building and can't wait for you to check it out!
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Karan Patoliya</h4>
                    <a href="https://github.com/kpatoliya"><i class="fab fa-github-square"></i></a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/ameer_hassan.png" class="member-picture"/>
                    <h4>Ameer Hassan</h4>
                    <a href="https://github.com/AmeerYHassan"><i class="fab fa-github-square"></i></a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Bishoy Kamel</h4>
                    <a href="https://github.com/bk274"><i class="fab fa-github-square"></i></a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/member_5.jpeg" class="member-picture"/>
                    <h4>Akash Patel</h4>
                    <a href="https://github.com/akashpatel2699"><i class="fab fa-github-square"></i></a>
                    <p>
                        Hi, My name is Akash Patel. I am full stack developer at NJIT CS490 group project. I am happy 
                        that my work will help the people of New Jersey to get information needed to get up and running.
                    </p>
                </div>
            </div>
        </div>
        <div class="third-page">
            <h3>Product Detail</h3>
            <div class="container">
                <div class="box box-1">
                    As a team, we made this application using skills and newer technologies learned in the class
                    as part of our CS curriculum. In the back-end, we used popular programming language Python
                    and its light-weight framework Flask to get up and running. In the front-end, we used another
                    popular programming language Javascript and its library called React. To store your comments 
                    and be able to retain them for later use, we used postgresql a relational database management
                    system. We used popular techology called git and github to let our team work on their part of
                    the application on their own and still be able to collaborate successfully with other team
                    members on this successful application for the people of New Jersey. To allow our fellow
                    citizens to take advantage of our informative site, we deployed this on one of the most popular
                    web hosting platform called Heroku.
                </div>
                
                <div class="box box-2">
                    We made this app for the purpose of giving New Jersey residents a place where they can find
                    an agregation of all the information they need on a daily basis, all while communicating with
                    others like them.  This has the added benefit of helping to create a sense of community within
                    the users of this app.
                </div>
                
                <div class="box box-3">
                    New Jersey is an eclectic state, with people usually too busy going about their day to participate
                    in events designed to bolster their community.  This app allows for users to calm down some of 
                    their daily chaos by only presenting the absolute necessities in an organized manner.  This all 
                    with the added benefit of helping New Jersians feel more connected.
                </div>
                
                <div class="box box-4">
                    This site is very simple to use and it gives you important information to get started with
                    your day in New Jersey. Click on the Home button at top of the page, this will take you to
                    the main site where information like News, Traffic, and weather could be found. If you log 
                    in with your Google account after clicking that button on top, you will be given access to
                    write comment on each forum under different tabs that will be seen by other users.
                </div>
            </div>
        </div>
        <div class="fourth-page">
            <div class="technologies">
                <h3>Technologies</h3>
                <ul class="technologies-list">
                    <li><a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Python Flask</a></li>
                    <li><a href="https://reactjs.org/" target="_blank">Javascript React</a></li>
                    <li><a href="https://www.postgresql.org/" target="_blank">Postgresql</a></li>
                    <li><a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
                    <li><a href="https://git-scm.com/" target="_blank">Git</a></li>
                    <li><a href="https://circleci.com/" target="_blank">circleci</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>