<!DOCTYPE html>

<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>THE JERSEY BULLETIN</title>
    
    <meta name="description" content="New Jersey Information">
    <meta name="NJIT CS490_FALL20_GROUP8" content="SitePoint">
    <link rel="stylesheet" href="../static/styles.css" />

</head>

<body>
    <div class="landing-page">
        <div class="first-page">
            <header>
                <img src="../static/images/logo.png" alt="The Jersey Bulletin"  class="landing-page-logo"/>
                <button type="button" class="button">Home</button>
            </header>
            <div class="headings">
                <h1 class="main-heading">Important Garden State Information</h1>
                <h5 class="sub-heading">Get information needed to get started with your day.</h5>
            </div>
        </div>
        <div class="second-page">
            <h1>Team Members</h1>
            <div class="team-intro">
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Joseph Fiore</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Karan Patoliya</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Ameer Hassan</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/team-member-1.jpg" class="member-picture"/>
                    <h4>Bishoy Kamel</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="team-member">
                    <img src="../static/images/member_5.jpeg" class="member-picture"/>
                    <h4>Akash Patel</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    </p>
                </div>
            </div>
        </div>
        <div class="third-page">
            <h3>Product Detail</h3>
            <div class="container">
                <div class="box box-1">
                    This box will include answer to how have you made it?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </div>
                
                <div class="box box-2">
                    This box will include answer to why have you made it?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </div>
                
                <div class="box box-3">
                    This box will include answer to why it matters?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </div>
            </div>
        </div>
        <div class="fourth-page">
            <div class="technologies">
                <ul class="technologies-list">
                    <li><a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Python Flask</a></li>
                    <li><a href="https://reactjs.org/" target="_blank">Javascript React</a></li>
                    <li><a href="https://www.postgresql.org/" target="_blank">Postgresql</a></li>
                    <li><a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
                    <li><a href="https://git-scm.com/" target="_blank">Git</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>